body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #222222;
    height: 288px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
	padding-top: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}


.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.rc-slider-rail {
	background-color: #D3D3D3;
}

.rc-slider-track {
	transition: all 0.3s ease-in-out;
	background-color: #9b1422;
	visibility: visible !important;
}

.rc-slider-dot {
	border: #D3D3D3 3px solid ;
	color: white;
	width: 10px;
	height: 10px;
}

.rc-slider-dot-active {
	width: 10px;
	height: 10px;
	background-color: #9b1422;
	border-color: #9b1422;
}
.rc-slider-mark {
	font-size: 1rem;
	color: #9b1422;
	font-weight: 1000;
}
.rc-slider-mark-text-active {
		color: #9b1422;
		font-weight: 800;
	}

.rc-slider-handle {
	border: #9b1422 3px solid ;
	color: #9b1422;
}
.rc-slider-handle:hover {
  border-color: #9b1422;
}
/********************/
/*.VirtualizedSelectOption {
    background-color: LightGreen;
    color: black;
}

.VirtualizedSelectFocusedOption {
    background-color: green;
    font-size: 18px;
    color: white;
}

.Select-control {
  background-color: rgb(25, 25, 25) !important;
}

.Select-control {
  color: white;
}*/
.Select-control {
  /*width: 460px;*/
}
.Select-value-label {
color: white;
}

.Select--multi 
.Select-value {
  background-color: #9b1422;
  color: #fff;
}

.wc-tabs .active a {
    background: #9b1422 none repeat scroll 0 0;
    color: red;
}